PORT=3000
FALLBACK_LANGUAGE=en
DATABASE_URL="postgresql://user:password@localhost:5432/tutorial_nest?schema=public"
SECRET_KEY=
JWT_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d
REDIS_URL="redis://localhost:6379"
